*
{
	background-color:rgb(56, 89, 18);
	color:white;
}
html
{
	width:1350px;
}
header
{
	width:101%;
	height:160px;
	background-color:rgb(78, 55, 0);
	font-size:40px;
	text-align:left;
	position:absolute	;
	left:-1px;
	top:-1px;
}
p
{
	background-color:rgb(78,55,0);
	font-size:15px;
	display:inline;
}
#menu
{
width:100%;
height:auto;
position:absolute;
top:60px;
background-color:rgb(78,55,0);
}
#pole
{
	background-color:rgb(56, 89, 18);
	border-right:1px solid black;
}
#mapa
{
	background-color: inherit;
	border-left:1px solid black;
	background-image: url("mapa.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.kraj
{
	position:relative;
	background-color:transparent;
	color: black;
	top:-50px;
	left:5px;
	width:60px;
}
.kraj:hover
{
	cursor:pointer;
	color:red;
}
#niemcy
{
	top:140px;
	left:370px;
}
#zsrs
{
	top:170px;
	left:550px;
}
#francja
{
	top:130px;
	left:295px;
}
#anglia
{
	top:120px;
	left:265px;
}
#finlandia
{
	left:490px;
	top:35px;
}
#wlochy
{
	left:360px;
	top: 190px;
}
#hiszpania
{
	top:190px;
	left:245px;
}
#budzet
{
	width:auto;
	height:30px;
	background-color: rgb(78,55,0);
	color:white;
	font-size:30px;
	position:relative;
	top:115px;
}
.gra
{

	width:49.5%;
	height:400px;
	background-color:pink;
	position:relative;
	top:160px;
	left:-1px;
	display:inline;
	float:left;
}
.opcja_menu
{
	background-color:green;
	border:5px double brown;
	border-radius:3px;
	width:32%;
	height:50px;
	font-size:50px;
	float:left;
	text-align:center;
	margin:auto;
}
.opcja_menu:hover
{
	background-color:brown;
}
table
{
	width:100%;
	text-align: center;
	vertical-align: middle;
}